.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.not-found__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 169px;
  padding-top: 17px;
}

@media screen and (max-width: 800px) {
  .not-found__container {
    padding-top: 180px;
  }
}

@media screen and (max-width: 500px) {
  .not-found__container {
    padding-top: 300px;
    min-height: 97px;
  }
}

.not-found__title {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .not-found__title {
    font-size: 80px;
  }
}

.not-found__caption {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 5px 0 184px;
}

@media screen and (max-width: 500px) {
  .not-found__caption {
    font-size: 12px;
    padding: 10px 0 284px;
  }
}

.not-found__btn {
  all: unset;
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: 0.5s;
}

.not-found__btn:hover {
  opacity: 0.7;
}


@media screen and (max-width: 500px) {
  .not-found__btn {
    font-size: 12px;
  }
}