.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 246px 0 60px;
}

.not-found__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 169px;
}

.not-found__title {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.not-found__caption {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 5px 0 184px;
}

.not-found__btn {
  all: unset;
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  transition: 0.5s;
}

.not-found__btn:hover {
  opacity: 0.7;
}
